.jazzcard {
  background-color: white;
  width: 600px;
  height: 400px;
  margin: 40px auto;
  text-align: center;
  @include shadowify();

  .questionText, .answerText {
    font-size: 48px;
    position: relative;
    top: 100px;
  }
}

.flipcard {
  transform: perspective(400px) rotateY(0deg);
  -moz-transform: perspective(400px) rotateY(0deg);
  -webkit-transform: perspective(400px) rotateY(0deg);
  -o-transform: perspective(400px) rotateY(0deg);
  -ms-transform: perspective(400px) rotateY(0deg);
  transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  .flip-front {
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .flip-back {
    background-color: white;
    height: 100%;
    width: 100%;
  }
  &.flipped {
    transform: perspective(400px) rotateY(180deg);
    -moz-transform: perspective(400px) rotateY(180deg);
    -webkit-transform: perspective(400px) rotateY(180deg);
    -o-transform: perspective(400px) rotateY(180deg);
    -ms-transform: perspective(400px) rotateY(180deg);
  }
  &.flipped .flip-back {
    transform: perspective(400px) rotateY(-180deg);
    -moz-transform: perspective(400px) rotateY(-180deg);
    -webkit-transform: perspective(400px) rotateY(-180deg);
    -o-transform: perspective(400px) rotateY(-180deg);
    -ms-transform: perspective(400px) rotateY(-180deg);
  }
}